<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Logistics</title>
</head>

<body>
    <div class="container">
        <h1 class="display-1">MGMT LOGISTICS</h1>
        <div>
            <h5 class="display-5">Acesse o sistema:</h5>
            <form action="login" method="post" class="form form-horizontal">
            <div class="form-group">
                <div>
                    <label for="user">Usuario:</label>
                    <input type="text" class="form-control" name="user" size="10" maxlength="10" required>
                </div>
                 <div>
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" name="password" size="10" maxlength="10" required>
                </div>
             </div>
        <button type="submit" class="btn btn-success">Logar</button>

         </form>
            <br>
            <br>
         <h3 class="display-3">Quem somos?</h3>
            <p>O MGMT Logistics foi desenvolvido por 4 alunos do curso de Ciencia da Computacao do Uniceub.
            Nosso sistema busca simplificar e facilitar a vida dos pequenos, medios e grandes varejistas, trazendo
            consigo uma serie de funcionalidades, como controle de estoque e de clientes.</p>
        </div>
        <h4 class="display-4">Apresentacao do sistema</h4>
        <p>O sistema, inteiramente construido em Flask/Python com banco de dados em SQL, permite ao usuario o cadastro, remocao e
            adicao de produtos, de modo que sao exibidos de maneira logica na tela, permitindo ao usuario um simples acesso ao mesmo.</p>
</body>
</html>